/* Style sheet for the entire Fastway immigration website */

body, html {
	color: #feffff;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #373d3f;
	background-color: #eeeeee;
	max-width: 100%;
}

ul, ol {
	padding: 0;
	list-style: none;
}

/* 
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
} */

/* ========================================
Main Navigation bar menu that appears on each page
 */
/* ========================================
Main Navigation bar menu that appears on each page
 */
 #menu {
	padding: 2px;
	transition: all 0.8s;
	background-color: rgb(27, 27, 27);
	border-color: rgba(0, 0, 0);
	font-family: 'Open Sans', sans-serif;
}

#menu .navbar-header{
	color: #eeeeee;
}

#menu a.navbar-brand img {
	width : 45px;
	padding: 5px;
	margin-bottom: 10px;
}

#menu .brand-name{
	font-family: 'Lato' ;
	color: #eeeeee;
	font-size: 1.5em;
	font-weight: 600;
}

#menu button.navbar-toggler{
	border: 2px solid #eeeeee;
	border-radius: 8px;
	margin-bottom: 3px;
	color: #eeeeee;
}

#menu .navbar-nav > li{
	padding: 0.3vh 0.3vw;
	text-align: right;
}

#menu .navbar-nav > li > a {
	text-transform: uppercase;
	color: #eeeeee;
	letter-spacing: 0.7px;
	padding: 0.5vmin 0.5vmin;
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
}
 
#menu .navbar-nav > li:hover {
	background-color: #0375B4;
	color: #ffffff;
	border-radius: 5px;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

/* ========================================
Services section
*/

#services-section {
	padding: 60px 0;
	background-color: #feffff;
	color: #555555;
}

#services-section .space {
	margin-top: 40px;
}

#services-section .section-title h1{
	font-weight: 600;
	font-size: 2.7em;
	text-align: center;
}

#services-section p.heading{
	text-align: justify;
}

#services-section button.services-options-button{
	margin: 5px 10px;
	border: none;
}

#services-section button.services-options-button:hover{
	box-shadow: 0 0 20px 2px #0375B4;
}

#services-section .row{
	padding: 10px 5px;
	margin: 2px 5px;
}

#services-section h3.major-headings {
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
}

#services-section .services-card{
	border: 1px solid #99999958;
	border-radius: 5px;
	margin: 5px 0;
	padding: 0 !important;
}

#services-section .services-card img{
	width: 80px;
	height: 80px;
	padding: 0.2vmin;
	margin-right: 10px;
}

#services-section .services-card h4{
	font-size: 1.1em;
	font-weight: 600;
	text-align: left;
}

#services-section .services-card a:first-child{
	position: absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;
	transition: all 0.3s;
}

#services-section .services-card a:hover{
	box-shadow: 0 0 20px 5px #0376b451;
	background-color: #0376b453;
	transition: all 0.3s;
	color: white;
}

/* Individual services pages */
.individual-service {
	padding: 40px 0 30px 0;
	margin: 5px;
	font-size: 16px;
	text-align: justify;
}

.individual-service-title {
	text-align: left;
	padding: 10px 0;
	font-weight: 700;
	color: #444;
}

.individual-service li{
	text-indent: 30px;
}

.individual-service i{
	font-size: 10px;
	padding: 5px;
}

.how-can-we-help-you h2{
	padding: 15px 0;
	margin-bottom: 10px;
	text-align: center;
	color: #eeeeee;
	background-color: #0dad8d;
	border: 1px solid #0dad8d;
	border-radius: 5px;
}

.how-can-we-help-you i{
	font-size: 24px;
	padding: 3px;
	color: #0dad8d;
}

.how-can-we-help-you li{
	font-size: 16px;
	font-weight: 600;
	padding: 4px;
	text-indent: 30px;
}


/* Footer */
#footer {
	background-color: #222222;
	color: #777;
	padding: 10px 0 10px 0;
}

#footer h6{
	font-size: 12px;
	text-align: center;
}


@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
}

label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 12% 10%;
}
}

@media (max-width: 360px) {
.hover-bg .hover-text {
	padding: 22% 10%;
}
}


/* =======================================  */
/* Miscellaneous Styles */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }