/* TODO - Need to verify if there is any compatibility issue for using pre-defined variables in CSS for older browsers */
/* Defined some variables for the CSS file */
:root{
    /* colors used for backgrounds */
    /* --color-gray-dark: #e4e4e4; */
    --color-gray-dark: #eeeeee;
    --color-gray-light: #f7f7f7;
    --color-gray-semi-transparent-dark:#484848e0;
    --color-gray-semi-transparent-light:#f7f7f7d0;

    /* Colors used for foregrounds */
    --color-font-gray-dark: #555555;
    --color-font-gray-light: #c4c4c4;
    --color-font-black:#323232;
    /* --color-font-black:#081B33; */
    --color-font-icons-red: #B21212;
    --color-font-icons-white: #FFFFFF;
    /* --color-brand-color-1:#2063a2; */
    --color-brand-color-1:#007AC9;

    /* Default font family */
    --font-family: "Roboto", Arial, Helvetica, sans-serif;
    --font-family-serif: "Merriweather", serif;

    /* Default transition time for animations */
    --transition-time-quick: 0.3s;
    --transition-time-normal: 0.6s;
    --transition-time-slow: 0.9s;
}

body {
    font-family: var(--font-family);
}

/*  Primary Color    #0A3055
    Secondary Color  #CDA34F
    Tertiary Color   #93ADB6
    Quaternary Color #24647A
*/

/* --------------------------------------------------- */
/* COMMON classes for all elements */
/* --------------------------------------------------- */
/* Sets a Dark gray background color */
.horizontal-row-divider{
    width: 20%;
    max-width: 80px;
    margin-top: 1px;
    border-top: 10px dotted #dadada;
}

.background-color-1{
    background-color: var(--color-gray-dark);
}

/* Sets a Light gray background color */
.background-color-2{
    background-color: var(--color-gray-light);
}

/* Font for Icons on the page */
.font-type-icons{
    color: var(--color-font-icons-red);
    font-size: 1.2rem;
    opacity: 0.6;
}

/* Font for Icons when hovered on the icon */
.font-type-icons:hover{
    opacity: 1.0;
    transition: opacity var(--transition-time-quick);
}

/* Italicized font to show text with less importance */
.font-type-1{
    color: var(--color-font-gray-dark);
    font-family: var(--font-family);
    font-size: calc(0.8rem + 0.2vw);
    font-style: italic;
    font-weight: 400;
}

/* Normal readable font type - Color Black
Will be used for the links on the page*/
.font-type-2{
    color: var(--color-font-black);
    font-family: var(--font-family);
    font-size: calc(0.8rem + 0.45vw);
    font-weight: 400;
    line-height: calc(1.1rem + 0.5vw);
    text-align: justify;
}

/* Serif type font to be used intermittently */
.font-type-3{
    color: var(--color-font-black);
    font-family: var(--font-family-serif);
    font-size: calc(0.8rem + 1vw);
    font-weight: 400;
    letter-spacing: 2px;
}

/* Styling for all hyperlink hovers */
a:hover{
    color:inherit;
    font-weight: bold;
    text-decoration: none;
    transition: font-weight var(--transition-time-quick);
}

/* Sets a light color transparent background for the element along with a contrasting darker text color*/
.transparent-background-light{
    background-color: var(--color-gray-semi-transparent-light);
    color: var(--color-font-gray-dark);
}

/* Sets a dark color transparent background for the element along with a contrasting lighter text color*/
.transparent-background-dark{
    background-color: var(--color-gray-semi-transparent-dark);
    color: var(--color-font-gray-light);
}

/* Sets a transparent bottom border underline the element. As needed, a hover class can flip the color of border*/
.transparent-border-bottom{
    border-width: 0 0 0.2rem 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 0.1rem;
}

.transparent-border-bottom:hover{
    border-color: var(--color-brand-color-1);
    transition: all var(--transition-time-normal);
}

/* --------------------------------------------------- */
/* COMMON classes for all elements - RESPONSIVE STYLING*/
/* --------------------------------------------------- */
@media all and (max-width: 360px) {
}

/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {
}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {
}

/* --------------------------------------------------- */
/* PAGE TOP AREA - All Elements */
/* --------------------------------------------------- */
/* PAGE TOP AREA - ADDRESS */

/* Exception - Specific styling on hover of the hyperlinks of the top area div */
.top-area-div > a:hover .font-type-1{
    font-weight: bold;
}

/* --------------------------------------------------- */
/* TITLE BAR - All Elements - NORMAL STYLING*/
/* --------------------------------------------------- */
/* TITLE BAR - Main Logo image*/
#title-bar-logo-img {
    width: auto;
}

/* TITLE BAR - Phone Text & Font Awesome Logo */
.title-bar-phone-text {
    font-size: calc(0.9rem + 1vw);
    font-weight: bold;
    opacity: 1.0;
}

/* --------------------------------------------------- */
/* TITLE BAR - All elements - RESPONSIVE STYLING*/
/* --------------------------------------------------- */
/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {
}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {
}

/* --------------------------------------------------- */
/* NAVIGATION BAR */
/* --------------------------------------------------- */
/* NAVIGATION BAR - Scrolling case - This class is added via javascript when page is scrolled.  Changes the background color of navbar*/
.scrolled{
    background: var(--color-brand-color-1);
    transition: all var(--transition-time-slow);
}

/* This class inverses the text color to a light gray. Is toggled upon page scroll*/
.inverse-navbar-items-text-color{
    color:var(--color-gray-light);
}

/* Sets color change upon hover for navigation bar Hyperlinks */
a.navigation-bar-item:hover{
    color: var(--color-brand-color-1);
}

/* Color of Navigation bar Hyperlinks when Page scrolling in progress */
#main-navigation-bar.scrolled a.navigation-bar-item:hover{
    color: var(--color-gray-light);
    border-color: var(--color-gray-light);
}

/* --------------------------------------------------- */
/* NAVIGATION BAR - All elements - RESPONSIVE STYLING*/
/* --------------------------------------------------- */
/* Exception case - even smaller devices (less than 350px)*/
@media all and (max-width: 360px) {
}

/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {
}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {
}

/* --------------------------------------------------- */
/* MAIN IMAGE - All elements - NORMAL STYLING*/
/* --------------------------------------------------- */
/* MAIN IMAGE - Using Jumbotron of Bootstrap */

/* TODO Not sure if this is needed */
.carousel-inner{
    position: relative;
}

.carousel-item{
    height: 60vh;
}

/* The background images of each carousel item */
/* BACKGROUND IMAGE #1 */
.background-image-1{
    background-image:url('../img/600px/main-image-1-600px.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

/* BACKGROUND IMAGE #2 */
.background-image-2{
    background-image:url('../img/600px/main-image-2-600px.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

/* BACKGROUND IMAGE #3 */
.background-image-3{
    background-image:url('../img/600px/main-image-3-600px.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

/* --------------------------------------------------- */
/* MAIN IMAGE - All elements - RESPONSIVE STYLING*/
/* --------------------------------------------------- */
/* Exception case - even smaller devices (less than 360px)*/
@media all and (max-width: 360px) {
}

/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {
    /* 768px width images for screen sizes greater than 576px and smaller than 768px*/
    .background-image-1{
        background-image: url('../img/900px/main-image-1-900px.jpg');
    }
    .background-image-2{
        background-image: url('../img/900px/main-image-2-900px.jpg');
    }
    .background-image-3{
        background-image: url('../img/900px/main-image-3-900px.jpg');
    }

    /* Center all three background images for anything bigger than 576 px */
    .background-image-1,
    .background-image-2,
    .background-image-3{
        background-position:center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {
    /* 1200px width images for screen sizes greater than 768px and smaller than 1200px*/
    .background-image-1{
        background-image: url('../img/1200px/main-image-1-1200px.jpg');
    }
    .background-image-2{
        background-image: url('../img/1200px/main-image-2-1200px.jpg');
    }
    .background-image-3{
        background-image: url('../img/1200px/main-image-3-1200px.jpg');
    }
}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {
    /* Full size (high resolution and large size)images for screen sizes greater than 1200px*/
    .background-image-1{
        background-image: url('../img/2000px/main-image-1.jpg');
    }
    .background-image-2{
        background-image: url('../img/2000px/main-image-2.jpg');
    }
    .background-image-3{
        background-image: url('../img/2000px/main-image-3.jpg');
    }
}

/* --------------------------------------------------- */
/* COMPANY DETAIL SECTION - All elements - NORMAL STYLING*/
/* --------------------------------------------------- */

/* COMPANY DETAIL SECTION - Complete section*/
#company-detail-section {
    background: var(--color-gray-dark);
}

.thumbnail-image{
    width: 150px;
    height: 150px;
}

/* --------------------------------------------------- */
/* COMPANY DETAIL SECTION - All elements - RESPONSIVE STYLING*/
/* --------------------------------------------------- */
/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {
}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {
}

/* --------------------------------------------------- */
/* SERVICES SECTION - All elements - NORMAL STYLING*/
/* --------------------------------------------------- */
/* SERVICES SECTION - whole section */
#services{
    background: #FFFFFF;
}

/* SERVICES SECTION - Heading */
.services-heading {
    color: #00204a;
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 5px;
}

/* SERVICES SECTION - Main content */
.services-text-p{
    color: #34495E;
    font-family: "roboto", sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: justify;
}

/* SERVICES SECTION - Cards for each service group */
.services-card-individual{
    background:#F7F7F7;
    border-radius: 15px;
}

/* SERVICES SECTION - Title of each card in the section */
#services .card-title{
    color: #CDA34F;
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: bold;
}

/* SERVICES SECTION - Card Text  */
#services .card-text{
    color: #34495E;
    font-size: 1.2rem;
    line-height: 1.3;
}

/* SERVICES SECTION - Card list items */
#services .card-list-items{
    list-style: none;
    font-size: 1.3rem;
}

/* SERVICES SECTION - All the buttons in the section */
#services button{
    max-width: 350px;
    font-size: 1.2rem;
}

#services button:hover {
    font-weight: bold;
}


/* --------------------------------------------------- */
/* SERVICES SECTION - All elements - RESPONSIVE STYLING*/
/* --------------------------------------------------- */
/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
    .services-heading {
        font-size: 1.6rem;
    }

    .services-text-p {
        font-size: 1.3rem;
    }
}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {
    .services-heading {
        font-size: 1.7rem;
    }

    .services-text-p {
        font-size: 1.4rem;
        line-height: 1.3;
    }
}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {
    .services-heading {
        font-size: 1.9rem;
    }

    .services-text-p {
        font-size: 1.6rem;
    }
}


/* --------------------------------------------------- */
/* TESTIMONIALS SECTION - All elements - NORMAL STYLING*/
/* --------------------------------------------------- */
/* TESTIMONIALS SECTION - Complete Section */
#testimonials-section {
    text-align: center;
    background: #CDA34F;
    color: #ffffff;
}

/* TESTIMONIALS SECTION - Carousel Individual item */
.carousel-item {
    padding: 5% 7% 20%;
}

/* TESTIMONIALS SECTION - Quotation mark */
.testimonials-quotation-mark {
    font-size: 2rem;
    font-family: 'Merriweather', serif;
}

/* TESTIMONIALS SECTION - Text */
.testimonials-text {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    line-height: 1.4;
}

/* TESTIMONIALS SECTION - Name & city */
.testimonials-name {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 150px;
}


/* --------------------------------------------------- */
/* TESTIMONIALS SECTION - All Elements - RESPONSIVE STYLING*/
/* --------------------------------------------------- */
/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {
    .testimonials-quotation-mark {
        font-size: 2.2rem;
    }

    .testimonials-text {
        font-size: 1.5rem;
    }

    .testimonials-name {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
    .carousel-item {
        padding: 5% 10% 8%;
    }

    .testimonials-quotation-mark {
        font-size: 3rem;
    }

    .testimonials-text {
        font-size: 1.2rem;
    }

    .testimonials-name {
        font-size: 1.1rem;
    }
}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {
    .testimonials-text {
        font-size: 1.9rem;
    }

    .testimonials-name {
        font-size: 1.2rem;
    }
}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {}

/* --------------------------------------------------- */
/* CONTACT US SECTION - All Elements - NORMAL STYLING*/
/* --------------------------------------------------- */
/* Complete CONTACT US Section */

/* CONTACT US - Background image */
#contact-us {
    background: url("../img/600px/contact-us-photo-600px.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}

/* CONTACT US - Heading - h2 */
#contact-us h2 {
    color: #00204a;
    font-family: "Merriweather", serif;
    font-size: 2.4rem;
    font-weight: bold;
}

/* Strike through the word STRANGER */
#contact-us-stranger-word {
    color: #93ADB6;
    font-weight: normal;
    text-decoration: line-through;
}

/* CONTACT US - Heading - h3 */
#contact-us h3 {
    font-size: 1.5rem;
}

/* Social media contact options class for all*/
.contact-us-social{
    color: #00204a;
    font-size: 1.3rem;
    padding: 4px;
}

a.contact-us-social:hover{
    background: #00204a;
    border-radius: 15px;
    color: #F7F7F7;
    text-decoration: none;
}

.contact-us-social i{
    font-size: 1.8rem;
}

.contact-us-section-phone {
    font-weight: bold;
    font-size: 1.8rem;
}

h4.contact-us-message-form{
    font-weight: bold;
    font-size: 1.8rem;
    color: #00204a;
}

.input-group-text{
    color: #00204a;
    font-size: 1rem;
}

button.contact-us-message-form{
    font-size: 1.3rem;
    /* font-weight: bold; */
}

/* --------------------------------------------------- */
/* CONTACT US SECTION - All Elements - RESPONSIVE STYLING*/
/* --------------------------------------------------- */
/* Exception case - even smaller devices (less than 350px)*/
@media all and (max-width: 360px) {
    .contact-us-social{
        font-size: 1.2rem;
    }
    .contact-us-social i{
        font-size: 1.4rem;
    }
    .contact-us-section-phone{
        font-size: 1.7rem;
    }
}

/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {
    #contact-us {
        background: url("../img/900px/contact-us-photo-900px.jpg");
        background-size: cover;
        background-repeat:no-repeat;
    }
    /* CONTACT US - Headings */
    #contact-us h2{
        font-size: 2.5rem;
    }
    #contact-us h3{
        font-size: 1.6rem;
    }
    .contact-us-social{
        font-size: 1.4rem;
    }
    .contact-us-section-phone{
        font-size: 2rem;
    }
    /* Message form - input field icons */
     .input-group-text{
        font-size: 1.2rem;
    }
    /* Message form - Input fields */
    .input-group input{
        font-size: 1.2rem;
    }
    /* Message form - Text Area field */
    .input-group textarea{
        font-size: 1.1rem;
    }
    /* Message form - Send button */
    button.contact-us-message-form{
        font-size: 1.4rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
    /* Message form - input field icons */
    .input-group-text{
        font-size: 1.4rem;
    }
    /* Message form - Input fields */
    .input-group input{
        font-size: 1.3rem;
    }
    /* Message form - Text Area field */
    .input-group textarea{
        font-size: 1.2rem;
    }
    /* Message form - Send button */
    button.contact-us-message-form{
        font-size: 1.5rem;
    }
    /* CONTACT US - Headings */
    #contact-us h2{
        font-size: 2.6rem;
    }
    #contact-us h3{
        font-size: 1.7rem;
    }
}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {
    #contact-us {
        background: url("../img/1200px/contact-us-photo-1200px.jpg");
        background-size: cover;
        background-repeat:no-repeat;
    }
    /* CONTACT US - Headings */
    #contact-us h2{
        font-size: 3rem;
    }
    #contact-us h3{
        font-size: 2rem;
    }
}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {
    #contact-us {
        background: url("../img/2000px/contact-us-photo.jpg");
        background-size: cover;
        background-repeat:no-repeat;
    }
    .contact-us-social i{
        font-size: 2rem;
    }
    .contact-us-social{
        font-size: 1.6rem;
    }
    .contact-us-section-phone{
        font-size: 2rem;
    }
    h4.contact-us-message-form{
        font-size: 2rem;
    }
    /* Message form - input field icons */
    .input-group-text{
        font-size: 1.6rem;
    }
    /* Message form - Input fields */
    .input-group input{
        font-size: 1.4rem;
    }
    /* Message form - Text Area field */
    .input-group textarea{
        font-size: 1.3rem;
    }
}



/* --------------------------------------------------- */
/* FOOTER - All elements - NORMAL STYLING*/
/* --------------------------------------------------- */
/* FOOTER Section - Complete Section */
#footer {
    padding: 2% 0%;
    background: var(--color-brand-color-1);
}

/* FOOTER - Company logo white */
#footer-logo {
    width: 100%;
}

.footer-text {
    font-size: 0.6rem;
    color: #bbbbbb;
}

.footer-text a:hover {
    color: #ffffff;
    text-decoration: none;
}


/* --------------------------------------------------- */
/* FOOTER BAR  - RESPONSIVE STYLING*/
/* --------------------------------------------------- */
/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {
    .footer-text {
        font-size: 0.7rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {
    #footer {
        padding: 1% 0%;
    }
}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {}




/* --------------------------------------------------- */
/* ALL COMMON ELEMENTS - NORMAL STYLING */
/* --------------------------------------------------- */
/* ALL ELEMENTS - Horizontal Row */


/* ABOUT US PAGE - SPECIFIC STYLES */
/* ABOUT US - OUR COMMITMENT */
#about-us-commitment{
    background-color: #CDA34F;
}

/* ABOUT US - Heading */
.about-us-heading{
    color: #00204a;
    font-family: "Merriweather", serif;
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 5px;
}

/* ABOUT US - OUR COMMITMENT body text */
.about-us-commitment-text{
    color: #F7F7F7;
    font-family: "roboto", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: justify;
}

/* ABOUT US - Body Text */
.about-us-text{
    color: #34495E;
    font-family: "roboto", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

/* ABOUT US - Display Img */
.about-us-img{
    max-height: 50vh;
    max-width: 100%;
}

/* --------------------------------------------------- */
/* ABOUT US PAGE - RESPONSIVE STYLING */
/* --------------------------------------------------- */
/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {
    .about-us-heading{
        font-size: 1.8rem;
    }
    .about-us-commitment-text{
        font-size: 1.5rem;
    }
    .about-us-text{
        font-size: 1.3rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
    .about-us-heading{
        font-size: 1.9rem;
    }
    .about-us-commitment-text{
        font-size: 1.6rem;
    }
    .about-us-text{
        font-size: 1.4rem;
    }
}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {}



/* --------------------------------------------------- */
/* INDIVIDUAL SERVICES PAGES - RESPONSIVE STYLING */
/* --------------------------------------------------- */
/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {
    .about-us-heading{
        font-size: 1.8rem;
    }
    .about-us-commitment-text{
        font-size: 1.5rem;
    }
    .about-us-text{
        font-size: 1.3rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
    .about-us-heading{
        font-size: 1.9rem;
    }
    .about-us-commitment-text{
        font-size: 1.6rem;
    }
    .about-us-text{
        font-size: 1.4rem;
    }
}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {}










/* --------------------------------------------------- */
/* XXXXX  - RESPONSIVE STYLING */
/* --------------------------------------------------- */
/* Small devices (Landscape phones, 576px and up) */
@media all and (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) {}

/* Large devices (Desktops, 992 px and up)*/
@media all and (min-width: 992px) {}

/* For extra large device - Desktops and 1200px and up */
@media all and (min-width: 1200px) {}