  
  <!-- Contact Section -->
  <div id="contact-section" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Contact Us</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4">
          <i class="fa fa-map-marker"></i>
          <p>2908 49A Street NW,
            <br> Edmonton, AB - T6L5J5
               <br> Canada</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope-o"></i>
          <p>info@fastwayimmigration.com
             fastway.immi@outlook.com
            </p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-phone"></i>
          <p><strong>Cellphone :</strong> +1(204) 590-5516
              <strong>Landline :</strong> +1(780) 669-9779
            <br>
          </p>
        </div>
        <hr>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h3>Leave us a message</h3>
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-default">Send Message</button>
        </form>
      </div>
    </div>
  </div>
  </div>
  <div id="social-section">
    <div class="container">
      <div class="social">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="fnav">
        <p>Copyright &copy; 2018 - Designed by Vivek Malhotra & thanks to
          <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a>
        </p>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.1.11.1.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/SmoothScroll.js"></script>
  <script type="text/javascript" src="/js/jquery.counterup.js"></script>
  <script type="text/javascript" src="/js/waypoints.js"></script>
  <script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="/js/jquery.isotope.js"></script>
  <script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
  <script type="text/javascript" src="/js/contact_me.js"></script>

  <!-- Javascripts
    ================================================== -->
  <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>