# gitignore file to exclude the files that need not be tracked by GIT 

.vscode/
fonts/
img/
node_modules/

# =========================================
# Ignore everything in the public/css/ directory
public/css/*
# Individually whitelist the .css files needed
!public/css/style.css
# =========================================



# =========================================
# Ignore everything in the public/js/ directory
public/js/*
# Individualy whitelist the .js files needed
!public/js/main.js
# =========================================


