<% include partials/header %>

    <!-- About section -->
    <div id="about-section" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>About us</h2>
                <hr>
            </div>
            <div class="clearfix text-left">
                <p>Fastway Immigration & Visa Services is a Canada based immigration firm offering a full range of immigration
                    services to its clients in Canada and worldwide.
                </p>


                <p>Sunil Kumar Malhotra, Promoter of the firm, after having rendered outstanding professional service in a Public
                    Sector Bank in India in senior management capacity opted voluntary retirement and permanently settled
                    in Canada. He completed Immigration Practitioner Diploma Program from Canadian Society of Immigration
                    Consultants (CSIC). He is a Regulated Canadian Immigration Consultant (RCIC) and a member in good standing
                    with Immigration Consultants of Canada Regulatory Council (ICCRC), a body regulating Canadian Immigration
                    Consultants.
                </p>

                <p>We provide assistance in all matters relating to Immigration, Refugee & Citizenship Law and help individuals,
                    families and businesses settle and establish themselves in Canada. Our services range from obtaining
                    a temporary resident visa for entry into Canada all the way to Citizenship/Permanent Residence status
                    in Canada. Undoubtedly,immigrating to a new country is a challenging step and life changing experience.
                    In addition, immigration rules are complex and ever-changing.
                </p>

                <p>You risk making mistakes, wasting precious time or increasing the chances of your application failure by
                    attempting to handle such a complex legal case yourself. To avoid these risks, contact an immigration
                    consultant who is strongly committed to providing you with viable solutions for your immigration problems.
                </p>

                <p>Our certified Immigration Consultant helps making things easier by providing you with all the necessary information/options
                    enabling you to make an informed decision regarding your case for positive outcome. We provide you with
                    an experienced and effective representation to the authorities to present your skills in the best possible
                    way, demonstrating your ability to successfully establish yourself in Canada under immigration laws and
                    regulations. We are committed and dedicated to providing our clients with competent and professional
                    service with individual approach to each file.
                </p>

                <p>
                    For any immigration/visa related matter please contact our certified Immigration Consultant
                </p>
            </div>
        </div>
    </div>

    <% include partials/footer %>