<% include partials/header %>

    <div id="express-entry-program" class="">
        <div class="container">
            <div class="individual-service">
                <img src="" alt="">
                <h1 class="individual-service-title">Express Entry Program</h1>
                <div class="individual-service-body">

                    <p>Since January 2015, Immigration Refugee and Citizenship Canada (IRCC) formerly known as Citizenship and
                        Immigration Canada (CIC) with the aim of improving the efficiency of Canadian Skilled Workers Program
                        introduced completely electronic process for selection of Skilled Workers for immigration to Canada.
                        This system has entirely replaced previous paper application process and moved from First Come First
                        Served System to demand driven system.</p>

                    <p>
                        Express Entry is for skilled workers who currently work in Canada or in other countries. IRCC chooses skilled immigrants
                        as permanent residents based on their ability to settle in Canada. Express Entry is a system managing
                        how people with skilled work experience apply for immigration to Canada. So, it is not an immigration
                        program but is used to manage applications for permanent residence under the following programs :
                    </p>

                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-circle"></i> Federal Skilled Worker Program</li>
                        <li><i class="fa-li fa fa-circle"></i>Federal Skilled Trades Program</li>
                        <li><i class="fa-li fa fa-circle"></i>Canadian Experience Class</li>
                        <li><i class="fa-li fa fa-circle"></i>A portion of the Provincial Nominee Programs</li>
                    </ul>

                    <p>
                        Therefore, in order to be eligible under Express Entry Program, applicants must qualify under one of these federal economic
                        immigration program. Each program has its own eligibility requirements. If the applicant meets the
                        requirements of any of these programs, he/she can submit Expression of Interest to apply by creating
                        a profile detailing personal information including skills, work experience, language ability, education
                        and adaptability.

                    </p>
                    <p>
                        Provinces and Territories can also recruit candidates from Canadian Express Entry Pool through their Provincial Nominee Programs
                        to meet their local labour market needs. This system is called Express Entry because under this system,
                        IRCC aims at processing application expeditiously from the date of submission of application by the
                        applicant after receiving Invitation to Apply. To be eligible for any of these programs, the applicant
                        is required to have relevant work experience in an occupation that has National Occupation Classification
                        Code of Skill Type 0,A & B. Under Federal Skilled Workers Category, the Candidate also needs to have
                        Educational Credential Assessment (ECA) unless they have received post-secondary education in Canada.
                    </p>

                    <p>
                        Before submitting EOI, all Candidates needs to take a language test determining the level of their language abilities. These
                        language test results should not be more than 2 years old. However, the candidates may increase their
                        language abilities points by taking fresh language test after submitting Expression of Interest.
                        Express Entry Profile can be edited any time. Candidates can also earn additional points by proving
                        French language ability in addition to English language ability.
                    </p>

                    <p>Each profile remains in the pool for a period of 1 year or until issuance of ITA whichever occurs first.
                        If no ITA is received within 1 year, EOI expires and is not considered while taking draws from the
                        pool. However, in order to be considered in the pool, the candidates can submit fresh profile.</p>

                    <p>You risk making mistakes, wasting time or increasing the risk of failure of your application by attempting
                        to handle such a complex legal case yourself. To avoid these risks, contact an immigration consultant
                        who is strongly committed to providing you with viable solutions for your immigration problems.</p>
                </div>
            </div>


            <div class="how-can-we-help-you">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-8 col-xs-10">
                        <h2>How can we help you?</h2>
                    </div>
                </div>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square-o"></i>Conduct free assessment to determine your eligibility under Express Entry</li>
                    <li><i class="fa-li fa fa-check-square-o"></i>Advise different options available under EE</li>
                    <li><i class="fa-li fa fa-check-square-o"></i>Submit Expression of Interest</li>
                    <li><i class="fa-li fa fa-check-square-o"></i>If already received ITA, help submitting complete PR Application</li> 
                </ul>
            </div>
        </div>
    </div>






    <% include partials/footer %>