<% include partials/header %>

    <div id="express-entry-canadian-experience-class">
        <div class="container">
            <div class="individual-service">
                <img src="" alt="">
                <h1 class="individual-service-title">Express Entry - Canadian Experience Class</h1>
                <div class="individual-service-body">
                    <p>Express Entry is now the first step to immigrate to Canada Permanently under FSWP, FSTP, Canadian Experience
                        Class and a portion of PNP. It is not a new program. Criteria for existing programs continue to apply.
                    </p>

                    <p>
                        Canadian Experience Class is an immigration program designed to help
                        <strong>Temporary Foreign Workers</strong> and
                        <strong>International Students</strong> to obtain Permanent Residence in Canada.
                    </p>

                    <p>
                        For qualifying under CEC through Express Entry, the applicant must have :
                    </p>

                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-circle"></i>At least 12 months of skilled work experience gained in Canada with proper authorization
                            in the last three years in Skill Level NOC 0, Skill Type A and B. Self-employment and experience
                            gained during full time studies does not count under this program</li>
                        <li>
                            <i class="fa-li fa fa-circle"></i>met the required language levels needed for your job for each language ability</li>
                        <li>
                            <i class="fa-li fa fa-circle"></i>planned to live outside the province of Quebec</li>
                        <li>
                            <i class="fa-li fa fa-circle"></i>show having done the duties set out in the occupational description in the NOC. This includes
                            all the main duties listed in NOC requirements</li>
                    </ul>

                    <h3>
                        <strong>Your experience must be at least</strong>
                    </h3>

                    <ul class="fa-ul">
                        <li>
                            <i class="fa-li fa fa-circle"></i>12 months of full-time work</li>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-angle-double-right"></i>30 hours/week for 12 months = 1-year full time (1,560 hours), OR </li>
                        </ul>
                        <li>
                            <i class="fa-li fa fa-circle"></i>Equal amount in part-time hours, such as:</li>
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-angle-double-right"></i>15 hours/week for 24 months = 1-year full time (1,560 hours)</li>
                            <li>
                                <i class="fa-li fa fa-angle-double-right"></i>30 hours/week for 12 months at more than one job = 1-year full time (1,560 hours)</li>
                        </ul>
                    </ul>

                    <h3>Education</h3>

                    <p>
                        <strong>There is no education requirement for the Canadian Experience Class</strong> However, in order to
                        earn points for education under Express Entry, in the case of Canadian post-secondary education relevant
                        certificate, diploma or degree and for completed foreign credential an ECA Report from an Agency
                        approved by IRCC needs to be submitted.
                    </p>

                    <h3>Language Ability</h3>

                    <p>
                        Candidates must meet the minimum language level of CLB 7 for NOC 0 or A jobs and CLB 5 for NOC B Jobs and submit Language
                        Test Report from Agency approved by IRCC.
                        <strong>The Test Result should not be more than 2 years old.</strong>
                    </p>

                    <p>
                        Applicants can remain in Canada throughout the application process. CEC is also open to individuals no longer in Canada,
                        <strong> if they submit their application within three years of leaving their job in Canada. </strong>
                    </p>

                    <p>
                        The Canadian Experience Class requirements are based on
                        <strong>a pass or fail </strong>model. If the minimum requirements are met, the applicant is eligible to
                        enter the Express Entry pool.
                    </p>
                </div>
            </div>
            <div class="how-can-we-help-you">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-exclamation-circle"></i> If you are interested in applying under Canadian Experience Class, please contact us for expert guidance.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>