<% include partials/header %>

    <!-- About section -->
    <div id="about-section" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>About us</h2>
                <hr>
            </div>
            <div class="clearfix text-left">
                <p>Fastway Immigration & Visa Services is a Canada based immigration firm offering a full range of immigration
                    services to its clients in Canada and worldwide.
                </p>


                <p>Sunil Kumar Malhotra, Promoter of the firm, after having rendered outstanding professional service in a Public
                    Sector Bank in India in senior management capacity opted voluntary retirement and permanently settled
                    in Canada. He completed Immigration Practitioner Diploma Program from Canadian Society of Immigration
                    Consultants (CSIC). He is a Regulated Canadian Immigration Consultant (RCIC) and a member in good standing
                    with Immigration Consultants of Canada Regulatory Council (ICCRC), a body regulating Canadian Immigration
                    Consultants.
                </p>

                <p>We provide assistance in all matters relating to Immigration, Refugee & Citizenship Law and help individuals,
                    families and businesses settle and establish themselves in Canada. Our services range from obtaining
                    a temporary resident visa for entry into Canada all the way to Citizenship/Permanent Residence status
                    in Canada. Undoubtedly,immigrating to a new country is a challenging step and life changing experience.
                    In addition, immigration rules are complex and ever-changing.
                </p>

                <p>You risk making mistakes, wasting precious time or increasing the chances of your application failure by
                    attempting to handle such a complex legal case yourself. To avoid these risks, contact an immigration
                    consultant who is strongly committed to providing you with viable solutions for your immigration problems.
                </p>

                <p>Our certified Immigration Consultant helps making things easier by providing you with all the necessary information/options
                    enabling you to make an informed decision regarding your case for positive outcome. We provide you with
                    an experienced and effective representation to the authorities to present your skills in the best possible
                    way, demonstrating your ability to successfully establish yourself in Canada under immigration laws and
                    regulations. We are committed and dedicated to providing our clients with competent and professional
                    service with individual approach to each file.
                </p>

                <p>
                    For any immigration/visa related matter please contact our certified Immigration Consultant
                </p>
            </div>
        </div>

        <!-- from index.html -->
          <!-- Contact Section -->
  <div id="contact-section" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Contact Us</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <i class="fa fa-map-marker"></i>
          <p>
            2908 49A Street NW
            <br> Edmonton, AB - T6L 5J5
            <br> Canada
          </p>
        </div>
        <div class="col-sm-12 col-lg-4">
          <i class="fa fa-envelope"></i>
          <p class="contact-email">
            <a href="mailto:info@fastwayimmigration.com">info@fastwayimmigration.com</a>
            <br>
            <a href="mailto:fastway.immi@outlook.com">fastway.immi@outlook.com</a>
          </p>
        </div>
        <div class="col-sm-12 col-lg-4">
          <i class="fa fa-phone"></i>
          <p>
            <strong>Cellphone :</strong> +1(204) 590-5516
            <br>
            <strong>Landline :</strong> +1(780) 669-9779
            <br>
          </p>
        </div>
        <hr>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-12 col-lg-8 offset-md-2">
        <h3>Leave us a Message</h3>
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-default">Send Message</button>
        </form>
      </div>
    </div>
  </div>
  </div>
  <div id="social-section">
    <div class="container">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

    </div>

    <% include partials/footer %>